[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-distinguished"]
	path = bundle/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/conflict-detection"]
	path = bundle/conflict-detection
	url = https://github.com/vim-scripts/ConflictDetection.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ingo-library"]
	path = bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-yaml"]
	path = bundle/vim-yaml
	url = https://github.com/avakhov/vim-yaml.git
[submodule "bundle/yaml.vim"]
	path = bundle/yaml.vim
	url = https://github.com/vim-scripts/yaml.vim.git
[submodule "bundle/vim-emacsmodeline"]
	path = bundle/vim-emacsmodeline
	url = https://github.com/sfiera/vim-emacsmodeline.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-syntax-haskell-cabal"]
	path = bundle/vim-syntax-haskell-cabal
	url = https://github.com/Twinside/vim-syntax-haskell-cabal
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/python-mode/python-mode
